@model IEnumerable<CodingTest.Models.Reading>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ Html.RenderAction("IndexMag"); }
@{ Html.RenderAction("IndexGrav"); }

<div id="dialog-confirm" title="Confirmation Dialog" style="display:none">Messages... </div>


@section Scripts {
@if (ViewBag.Confirmation != null)
{
    <script>

        $(document)
            .ready(function() {
                $(document).ready(function () {
                    alert('@ViewBag.Confirmation');
                });

            });

    </script>
}
}